<div class="form-container container m-6">
<h1 style="font-size:25px; font-weight:600">Your are Editing <button class="button" ><%= @blog.title %> </button> blog </h1>
</div>

<%= render "form", blog: @blog %>

