

<% @blogs.each do |x| %>

<div class="container is-fluid mt-5">
<h2 class="title"> <%= link_to x.title, blog_path(x.id) %></h2>
<p class=""><%= x.excerpt %></p>
</div>




<% end %>


