.form-container  {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-container > div > label {
    font-weight: 600;
    font-size: 25px;
}

input,textarea {
    margin-top: 10px;
    border: 1px solid rgb(143, 142, 142);
    padding: 20px;
    border-radius: 10px;

}

input:focus,textarea:focus {
    outline: none;
}

.disabled{
    pointer-events: none;
  }

  